-------------------------------------------------------------
-- File Name: g11n.sql
-- Purpose: Creates the g11n schema for testing
--          Oracle globalization and localization in PL/SQL.
--
-- Setup:
-- Enter valid values below for your environment.
-- If needed, create your own default and temp tablespaces
-------------------------------------------------------------

DEF i_full_conn_string = g11n/oracle
DEF i_system_conn = system/oracle
DEF i_default_tablespace = USERS
DEF i_temp_tablespace = TEMP

CONN &i_system_conn

SET SERVEROUTPUT ON FEEDBACK OFF VERIFY OFF PAUSE ON ESCAPE ~

SPOOL g11n.log


PROMPT
PROMPT    YOU MAY RERUN THIS SCRIPT AT ANY TIME AND THE SCHEMA WILL
PROMPT    BE DROPPED AND RECREATED.
PROMPT
PROMPT
PROMPT    ******** CHARACTER SET VERIFICATION ********
PROMPT
PROMPT    Examine your character set.  The first two characters are
PROMPT    the region your character set supports.  The numbers that
PROMPT    follow are the number of bits per character in your character
PROMPT    set.  If they are 7 or 8, you will have problems running
PROMPT    the examples that depend on this schema.  Find another database
PROMPT    that uses a unicode character set like AL32UTF8.
PROMPT

DECLARE
   v_charset   VARCHAR2 (50);
BEGIN
   BEGIN
      SELECT VALUE
        INTO v_charset
        FROM nls_database_parameters
       WHERE parameter = 'NLS_CHARACTERSET';
   EXCEPTION
      WHEN NO_DATA_FOUND
      THEN
         NULL;
   END;

   DBMS_OUTPUT.put_line ('Your NLS_CHARACTERSET is: ' || v_charset);

   BEGIN
      SELECT VALUE
        INTO v_charset
        FROM nls_database_parameters
       WHERE parameter = 'NLS_NCHAR_CHARACTERSET';
   EXCEPTION
      WHEN NO_DATA_FOUND
      THEN
         NULL;
   END;

   DBMS_OUTPUT.put_line ('	');
   DBMS_OUTPUT.put_line ('Your NLS_NCHAR_CHARACTERSET is: ' || v_charset);
END;
/

PROMPT
PROMPT Press enter or spacebar to continue, or CTL-C to exit.
PROMPT
PAUSE

PROMPT
PROMPT ******************************************************
PROMPT  Creating user g11n
PROMPT ******************************************************
PROMPT

DECLARE
   v_record_count         PLS_INTEGER := 0;
   v_string               VARCHAR2 (500);
   v_user_name            VARCHAR2 (30);
   v_default_tablespace   VARCHAR2 (30);
   v_temp_tablespace      VARCHAR2 (30);
BEGIN
   v_user_name := 'G11N';
   v_default_tablespace := UPPER ('&i_default_tablespace');
   v_temp_tablespace := UPPER ('&i_temp_tablespace');

   -- Drop the user if it already exist

   SELECT COUNT (1)
     INTO v_record_count
     FROM dba_users
    WHERE username = v_user_name;

   IF v_record_count <> 0
   THEN
      v_string := 'DROP USER ' || v_user_name || ' cascade';

      EXECUTE IMMEDIATE (v_string);

      DBMS_OUTPUT.put_line ('User ' || v_user_name || ' dropped...');
      DBMS_OUTPUT.put_line ('	');
   END IF;

   -- Verify tablespaces exist

   v_record_count := 0;

   SELECT COUNT (1)
     INTO v_record_count
     FROM dba_tablespaces
    WHERE tablespace_name IN (v_default_tablespace, v_temp_tablespace);

   IF v_record_count = 2
   THEN
      -- Create the user

      v_string :=
            'CREATE USER '
         || v_user_name
         || ' IDENTIFIED BY oracle'
         || ' DEFAULT TABLESPACE '
         || v_default_tablespace
         || ' TEMPORARY TABLESPACE '
         || v_temp_tablespace
         || ' QUOTA UNLIMITED ON '
         || v_default_tablespace
         || ' ACCOUNT UNLOCK';

      EXECUTE IMMEDIATE (v_string);

      v_string := 'GRANT create session TO ' || v_user_name;

      EXECUTE IMMEDIATE (v_string);

      v_string := 'GRANT connect TO ' || v_user_name;

      EXECUTE IMMEDIATE (v_string);

      v_string := 'GRANT execute on ctx_ddl TO ' || v_user_name;

      EXECUTE IMMEDIATE (v_string);

      v_string := 'GRANT create procedure TO ' || v_user_name;

      EXECUTE IMMEDIATE (v_string);

      v_string := 'GRANT create table TO ' || v_user_name;

      EXECUTE IMMEDIATE (v_string);

      DBMS_OUTPUT.put_line (
         'User ' || v_user_name || ' created successfully...'
      );
      DBMS_OUTPUT.put_line ('	');
   ELSE
      DBMS_OUTPUT.put_line (
         'At least one of your specified tablespaces are missing.'
      );
      DBMS_OUTPUT.put_line (
         'Verify the tablespace name you entered or create it and '
      );
      DBMS_OUTPUT.put_line ('rerun this script.');
      DBMS_OUTPUT.put_line ('	');
   END IF;
EXCEPTION
   WHEN OTHERS
   THEN
      DBMS_OUTPUT.put_line (SQLERRM);
      DBMS_OUTPUT.put_line ('	');
END;
/

CONN &i_full_conn_string

SET FEEDBACK ON

PROMPT
PROMPT ******************************************************
PROMPT  Populating g11n
PROMPT ******************************************************
PROMPT


PROMPT
PROMPT Create table locale
PROMPT

CREATE TABLE locale
(
   locale_id             NUMBER (1) CONSTRAINT pk_locale PRIMARY KEY
 , language              VARCHAR2 (2 CHAR)
 , country_id            CHAR (2 CHAR)
 , locale_desc           VARCHAR2 (500 CHAR)
 , date_format           VARCHAR2 (30 CHAR)
 , currency_id           VARCHAR2 (3 CHAR)
 , currency_desc         VARCHAR2 (50 CHAR)
 , currency_format       VARCHAR2 (15)
 , currency_symbol       VARCHAR2 (10)
 , iso_currency_format   VARCHAR2 (20)
 , iso_currency_name     VARCHAR2 (15)
);






PROMPT
PROMPT Create table users
PROMPT

CREATE TABLE users
(
   user_id             NUMBER (10) CONSTRAINT pk_users PRIMARY KEY
 , locale_id           NUMBER (1)
         CONSTRAINT fk_users_locale_id REFERENCES locale (locale_id)
 , first_name          VARCHAR2 (30 CHAR)
 , last_name           VARCHAR2 (30 CHAR)
 , registration_date   TIMESTAMP WITH TIME ZONE
);

INSERT INTO users (
                      user_id
                    , locale_id
                    , first_name
                    , last_name
                    , registration_date
           )
    VALUES (
               1
             , 3
             , 'RON'
             , 'HARDMAN'
             , TO_TIMESTAMP_TZ ('01-JAN-2004 11:34:21.000000 AM US/Mountain'
                              , 'dd-MON-yyyy hh:mi:ssxff AM TZR'
                               )
           );

INSERT INTO users (
                      user_id
                    , locale_id
                    , first_name
                    , last_name
                    , registration_date
           )
    VALUES (
               2
             , 1
             , 'ROGER'
             , 'WOOTTEN'
             , TO_TIMESTAMP_TZ ('01-JAN-2004 11:34:21.000000 AM Japan'
                              , 'dd-MON-yyyy hh:mi:ssxff AM TZR'
                               )
           );

INSERT INTO users (
                      user_id
                    , locale_id
                    , first_name
                    , last_name
                    , registration_date
           )
    VALUES (
               3
             , 2
             , 'RANDY'
             , 'STAUFFACHER'
             , TO_TIMESTAMP_TZ (
                  '01-JAN-2004 11:34:21.000000 AM Europe/Warsaw'
                , 'dd-MON-yyyy hh:mi:ssxff AM TZR'
               )
           );







PROMPT
PROMPT Create table author
PROMPT

CREATE TABLE author
(
   author_id    NUMBER (10) CONSTRAINT pk_author_id PRIMARY KEY
 , first_name   VARCHAR2 (30 CHAR)
 , last_name    VARCHAR2 (30 CHAR)
);

INSERT INTO author (author_id, first_name, last_name
                   )
    VALUES (1, 'STEVEN', 'FEUERSTEIN'
           );

INSERT INTO author (author_id, first_name, last_name
                   )
    VALUES (2, 'BILL', 'PRIBYL'
           );

INSERT INTO author (author_id, first_name, last_name
                   )
    VALUES (3, 'JONATHAN', 'GENNICK'
           );


PROMPT
PROMPT Create table publication
PROMPT

CREATE TABLE publication
(
   publication_id      NUMBER (1) CONSTRAINT pk_publication_id PRIMARY KEY
 , title               VARCHAR2 (100 CHAR)
 , isbn                VARCHAR2 (100 CHAR)
 , pages               NUMBER (4)
 , short_description   VARCHAR2 (4000 CHAR)
 , url                 VARCHAR2 (50 CHAR)
 , price               NUMBER (10, 2)
 , locale_id           NUMBER (1)
         CONSTRAINT fk_locale_id REFERENCES locale (locale_id)
 , language            CHAR (2)
);

-- Oracle PL/SQL in English, Japanese and German




-- Oracle SQL*Plus





-- DBA Checklist




PROMPT
PROMPT Create table store_location
PROMPT

CREATE TABLE store_location (city VARCHAR2 (50), country VARCHAR2 (50));

INSERT INTO store_location
    VALUES ('Asselfingen', 'DE'
           );

INSERT INTO store_location
    VALUES ('Aßlar', 'DE'
           );

INSERT INTO store_location
    VALUES ('Astert', 'DE'
           );



















COMMIT;

PROMPT
PROMPT Create Oracle Text indexes
PROMPT

-- ENGLISH LEXER

BEGIN
   ctx_ddl.create_preference ('english_lexer', 'basic_lexer');
   ctx_ddl.set_attribute ('english_lexer', 'printjoins', '_-');
   ctx_ddl.set_attribute ('english_lexer', 'index_themes', 'yes');
   ctx_ddl.set_attribute ('english_lexer', 'theme_language', 'english');
END;
/

-- GERMAN LEXER

BEGIN
   ctx_ddl.create_preference ('german_lexer', 'basic_lexer');
   ctx_ddl.set_attribute ('german_lexer', 'composite', 'german');
   ctx_ddl.set_attribute ('german_lexer', 'alternate_spelling', 'german');
END;
/

-- JAPANESE LEXER

BEGIN
   ctx_ddl.create_preference ('japan_lexer', 'japanese_lexer');
END;
/

-- MULTI_LEXER

BEGIN
   ctx_ddl.create_preference ('global_lexer', 'multi_lexer');
END;
/

-- ADD DEFAULT LEXER

BEGIN
   ctx_ddl.add_sub_lexer ('global_lexer', 'default', 'english_lexer');
END;
/

-- ADD SUB_LEXERS TO MULTI_LEXER

BEGIN
   ctx_ddl.add_sub_lexer ('global_lexer', 'german', 'german_lexer', 'de');
   ctx_ddl.add_sub_lexer ('global_lexer', 'ja', 'japan_lexer');
END;
/

-- CREATE THE INDEX

CREATE INDEX g11n_index
   ON publication (short_description)
   INDEXTYPE IS ctxsys.context
   PARAMETERS ( 'lexer global_lexer language column language' );

PROMPT
PROMPT Create functions
PROMPT


CREATE OR REPLACE FUNCTION city_order_by_func (v_order_by IN VARCHAR2)
   RETURN sys_refcursor
IS
   v_city   sys_refcursor;
BEGIN
   OPEN v_city FOR
        SELECT city
          FROM store_location
      ORDER BY NLSSORT (city, 'NLS_SORT=' || v_order_by);

   RETURN v_city;
END city_order_by_func;
/

show errors

CREATE OR REPLACE FUNCTION text_search_func (v_keyword IN VARCHAR2)
   RETURN sys_refcursor
IS
   v_title   sys_refcursor;
BEGIN
   OPEN v_title FOR
        SELECT title, language, score (1)
          FROM publication
         WHERE contains (short_description, v_keyword, 1) > 0
      ORDER BY score (1) DESC;

   RETURN v_title;
END text_search_func;
/

show errors

CREATE OR REPLACE FUNCTION `
   RETURN sys_refcursor
IS
   v_date   sys_refcursor;
BEGIN
   OPEN v_date FOR
      SELECT locale.locale_desc "Locale Description"
           , TO_CHAR (users.registration_date, locale.date_format)
                "Registration Date"
        FROM users, locale
       WHERE users.locale_id = locale.locale_id;

   RETURN v_date;
END date_format_func;
/

show errors

CREATE OR REPLACE FUNCTION date_format_lang_func
   RETURN sys_refcursor
IS
   v_date   sys_refcursor;
BEGIN
   OPEN v_date FOR
      SELECT locale.locale_desc "Locale Description"
           , TO_CHAR (users.registration_date
                    , locale.date_format
                    , 'NLS_DATE_LANGUAGE= ' || locale_desc
                     )
                "Registration Date"
        FROM users, locale
       WHERE users.locale_id = locale.locale_id;

   RETURN v_date;
END date_format_lang_func;
/

show errors

CREATE OR REPLACE FUNCTION date_ltz_lang_func
   RETURN sys_refcursor
IS
   v_date   sys_refcursor;
BEGIN
   OPEN v_date FOR
      SELECT locale.locale_desc
           , TO_CHAR (
                CAST (
                   users.registration_date AS TIMESTAMP WITH LOCAL TIME ZONE
                )
              , locale.date_format
              , 'NLS_DATE_LANGUAGE= ' || locale_desc
             )
                "Registration Date"
        FROM users, locale
       WHERE users.locale_id = locale.locale_id;

   RETURN v_date;
END date_ltz_lang_func;
/

show errors

CREATE OR REPLACE FUNCTION currency_conv_func
   RETURN sys_refcursor
IS
   v_currency   sys_refcursor;
BEGIN
   OPEN v_currency FOR
      SELECT pub.title "Title"
           , TO_CHAR (pub.price
                    , locale.currency_format
                    , 'NLS_CURRENCY=' || locale.currency_symbol
                     )
                "Price"
        FROM publication pub, locale
       WHERE pub.locale_id = locale.locale_id;

   RETURN v_currency;
END currency_conv_func;
/

show errors

CREATE OR REPLACE FUNCTION iso_currency_func
   RETURN sys_refcursor
IS
   v_currency   sys_refcursor;
BEGIN
   OPEN v_currency FOR
        SELECT title "Title"
             , TO_CHAR (pub.price
                      , locale.iso_currency_format
                      , 'NLS_ISO_CURRENCY=' || locale.iso_currency_name
                       )
                  "Price - ISO Format"
          FROM publication pub, locale
         WHERE pub.locale_id = locale.locale_id
      ORDER BY publication_id;

   RETURN v_currency;
END iso_currency_func;
/

show errors

CREATE OR REPLACE FUNCTION format_string (p_search IN VARCHAR2)
   RETURN VARCHAR2
AS
   -- Define an associative array
   TYPE token_table IS TABLE OF VARCHAR2 (500 CHAR)
                          INDEX BY PLS_INTEGER;

   -- Define an associative array variable
   v_token_array           token_table;

   v_temp_search_string    VARCHAR2 (500 CHAR);
   v_final_search_string   VARCHAR2 (500 CHAR);
   v_count                 PLS_INTEGER := 0;
   v_token_count           PLS_INTEGER := 0;
BEGIN
   v_temp_search_string := TRIM (UPPER (p_search));

   -- Find the max number of tokens
   v_token_count :=
        lengthc (v_temp_search_string)
      - lengthc (REPLACE (v_temp_search_string, ' ', ''))
      + 1;

   -- Populate the associative array
   FOR y IN 1 .. v_token_count
   LOOP
      v_count := v_count + 1;
      v_token_array (y) :=
         REGEXP_SUBSTR (v_temp_search_string, '[^[:space:]]+', 1, v_count);

      -- Handle reserved words
      v_token_array (y) := TRIM (v_token_array (y));

      IF v_token_array (y) IN ('ABOUT', 'WITHIN')
      THEN
         v_token_array (y) := '{' || v_token_array (y) || '}';
      END IF;
   END LOOP;

   v_count := 0;

   FOR y IN v_token_array.FIRST .. v_token_array.LAST
   LOOP
      v_count := v_count + 1;

      -- First token processed
      IF ( (v_token_array.LAST = v_count OR v_count = 1)
          AND v_token_array (y) IN ('AND', '&', 'OR', '|'))
      THEN
         v_final_search_string := v_final_search_string;
      ELSIF (v_count <> 1)
      THEN
         -- Separate by AND unless already present
         IF v_token_array (y) IN ('AND', '&', 'OR', '|')
            OR v_token_array (y - 1) IN ('AND', '&', 'OR', '|')
         THEN
            v_final_search_string :=
               v_final_search_string || ' ' || v_token_array (y);
         ELSE
            v_final_search_string :=
               v_final_search_string || ', ' || v_token_array (y);
         END IF;
      ELSE
         v_final_search_string := v_token_array (y);
      END IF;
   END LOOP;

   -- Escape special characters in the final string
   v_final_search_string :=
      TRIM(REPLACE (
              REPLACE (
                 REPLACE (REPLACE (v_final_search_string, ']', '\]')
                        , '['
                        , '\['
                         )
               , '&'
               , ' & '
              )
            , ';'
            , ' ; '
           ));

   RETURN (v_final_search_string);
END format_string;
/

SHOW ERRORS

SET PAUSE OFF

SPOOL OFF



/*======================================================================
| Supplement to the fifth edition of Oracle PL/SQL Programming by Steven
| Feuerstein with Bill Pribyl, Copyright (c) 1997-2009 O'Reilly Media, Inc. 
| To submit corrections or find more code samples visit
| http://oreilly.com/catalog/9780596514464/
*/